@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url(NotoSansKR/NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url(NotoSansKR/NotoSansKR-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url(NotoSansKR/NotoSansKR-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url(Poppins/Poppins-Light.woff2) format('woff2'), url(Poppins/Poppins-Light.ttf) format('ttf');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url(Poppins/Poppins-Regular.woff2) format('woff2'), url(Poppins/Poppins-Regular.ttf) format('ttf');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url(Poppins/Poppins-Medium.woff2) format('woff2'), url(Poppins/Poppins-Medium.ttf) format('ttf');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url(Poppins/Poppins-SemiBold.woff2) format('woff2'), url(Poppins/Poppins-SemiBold.ttf) format('ttf');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url(Poppins/Poppins-Bold.woff2) format('woff2'), url(Poppins/Poppins-Bold.ttf) format('ttf');
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
